body {
    width: 240px;
    padding: 10px;
    font-family: "Calibri", "Arial", sans-serif;
    font-size: 14px;
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
}

h1 {
    color: #70bfff;
    font-size: 30px;
}

hr {
    margin-bottom: 25px;
}

span {
    color: #cacaca;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: rgb(170, 170, 170)
}